{% extends "base.html" %}
{% block content %}
    <h2>This is profile ANAIS!</h2>
    <p>GINA Letting</p>   
    <p>currently: crying in spanish</p>
    <h3>important to know:</h3>
    <ul>
        <li>once ran the walk of shame to the tram and missed it anyway</li>
        <li>ate a burrito she found under a bench (swears that it was, in fact, still edible)</li>
        <li>her childhood idol was and still is Dr Doofenshmirtz from Phineas & Ferb</li>
        <li>Won the national championship in most consecutive backflips without crying
        </li>
    </ul>
    <p>(only half of these things are lies)</p>
    Anais was the first ever documented Material Girl TM and can usually be found at the gym just working on her fitness (she delicious). You can impress her by being better at hip thrusting than her or with our lord and saviour Jesus Christ (for reference: when she got baptized). Her eyebrows are better than yours will ever be.
    <img src="https://cdnb.artstation.com/p/assets/images/images/013/401/347/large/mark-brown-doofenshmirtz-colored-02.jpg?1539438116" width="200"
{% endblock %}
