{% extends "base.html" %}
{% block content %}
    <h2>the french had the guillotine, anna has spaghetti</h2>
    <p>WHO STOLE THE BIKE</p>   
    <p>currently: having her 23rd middle life crisis</p>
    <h3>important to know:</h3>
    <ul>
        <li>cried about ducks more than once</li>
        <li>fell down a flight of stairs and broke her arm in three different places to prove a point</li>
        <li>managed more than one whole  push up and hasn't yet recovered</li>
        <li>was the inspiration for the little lad dance</li>
    </ul>
<p>(only half of these things are lies)</p>
Anna is, in general, a disaster of a human being that gets through life by feigning some sort of vague competence and skill in completely arbitrary fields. All of her personality was stored in her hair, which is why people compared her to a wet potato when she cut it off. She is the one person you can call if you find a weird looking noodle on the ground at three in the morning and want to tell someone about it. Summarized: certified pasta lover and baguette taster.
{% endblock %}