{% extends "base.html" %}
{% block content %}
    <h2>if vodka was a person</h2>
    <p>YES</p>  
    <p>currently: doing hot girl shit, but stressed</p> 
    <h3>important to know:</h3>
    <ul>
        <li>once defeated a bear with chopsticks</li>
        <li>once pulled an uno reverse card on the police (it worked)</li>
        <li>recently discovered that she is, at heart, Sheldon from the Big Bang Theory</li>
        <li>rick rolled someone (who? we will never know) during a math exam</li>
    </ul>
    <p>(only half of these things are lies)</p>
    Aysela has so much confidence that she could probably convince you to become a criminal and you wouldn't even notice. If you're not at least a little bit scared of her, you're lying, bitch go home. Russia recognized her as a honorary citizen because of her impressive vodka tolerance and her legendary rendition of Rick Astley's Never Gonna Give you up. Nobody is sure if they want to be her or be with her and gaslight, gatekeep, girlboss was invented because of her.
{% endblock %}