{% extends "base.html" %}
{% block content %}
    <h2>OUR temple</h2>
    <p>Welcome to our website whoowhoo. Slutty gedrawed, slutty animated, totally slutty anime shit.</p>

   <p>For reference; we DON'T like anime.  Material gooorrls. Enjoy exploring our mindfull connections and inspirations. We care about sharing everything and be one in this world. <Communism3</p>
    <p>Click <a href="/question">hier</a> to start the bestestest quiz you will ever see and do in your life.</p>
{% endblock %}
